---
layout: layouts/home.njk
title: All Tags
eleventyNavigation:
  key: tags
showPostHeader: false
permalink: /tags/
---

{% set tagNames = collections.tagList | default([]) %}

<section class="mw7 center">
  <h1 class="f3 f2-ns lh-title mb3">All Tags</h1>
  {% if tagNames | length %}
    <ul class="list pl0 mt0">
      {% for tag in tagNames %}
        {% set tagItems = collections[tag] | default([]) %}
        {% set postCount = tagItems | length %}
        <li class="mb2">
          <a class="link dim theme-text fw5" href="/tags/{{ tag | slug }}/">
            {{ tag }}
          </a>
          <span class="theme-midtone f6">
            ({{ postCount }} post{% if postCount != 1 %}s{% endif %})
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="theme-midtone">No tags found.</p>
  {% endif %}
</section>
